* {
  color: #fff;
}

body {
  background-color: #272b30;
}

.App {
  width: 60%;
  margin: 0 auto;
  height: 100vh;
  margin-top: 20px;
}

.Header {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

h2 {
  color: #fff;
}

.Movie {
  display: flex;
  justify-content: space-evenly;
}

.TvShowList {
  width: 48%;
  color: green;
  height: 200px;
}

.MovieList {
  width: 48%;
  color: blue;
  height: 200px;
}

.MovieItem {
  background-color: #3b3e40;
  display: flex;
  padding: 10px;
  margin-bottom: 10px;
}

.MovieItem_image {
  width: 30%;
  padding-right: 20px;
}

.MovieItem_info {
  flex: 3;
}

img {
  width: 100%; /* or any custom size */
  height: 100%;
  object-fit: cover;
}

.CustomModal {
  /* width: 90vw; /* Occupy the 90% of the screen width */
  /* max-width: 90vw; */
  /* height: 100vh; */
  background-color: #3b3e40;
}

.CustomModal_trailer {
  height: 300px;
}

.CustomModal_title {
  color: #3b3e40;
}
.Wrapper {
  width: 90%;
  height: 250px;
  margin-top: 20px;
}
.Movie_detail {
  display: flex;
  margin: 0 auto;
  margin-top: 30px;
  justify-content: space-evenly;
  align-items: center;
  background-color: #3b3e40;
  padding: 10px;
}

.Movie_detail_info {
  flex: 2;
  padding-left: 50px;
}

.Movie_detail_image {
  background-color: green;
  /* height: 100%;
  width: 100%; */
  flex: 1;
}

.Movie_trailer {
  margin: 0 auto;
}

@media only screen and (max-width: 600px) {
  .App {
    width: 90%;
  }
  h2 {
    font-size: 10px;
  }
  p {
    font-size: 10px;
  }
  .Movie {
    display: block;
  }
  .TvShowList {
    display: inline-block;
    width: 100%;
    height: auto;
  }

  .MovieList {
    display: inline-block;
    width: 100%;
    height: auto;
  }
}
