* {
  color: #fff;
}

body {
  background-color: #272b30;
}

.App {
  width: 60%;
  margin: 0 auto;
  height: 100vh;
}

.Header {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

h2 {
  color: #fff;
}

.Movie {
  display: flex;
  justify-content: space-evenly;
}

.TvShowList {
  width: 48%;
  color: green;
  height: 200px;
}

.MovieList {
  width: 48%;
  color: blue;
  height: 200px;
}

.MovieItem {
  background-color: #3b3e40;
  display: flex;
  padding: 10px;
  margin-bottom: 10px;
}

.MovieItem_image {
  width: 30%;
  padding-right: 20px;
}

.MovieItem_info {
  flex: 3;
}

img {
  width: 100%; /* or any custom size */
  height: 100%;
  object-fit: cover;
}

.CustomModal {
  /* width: 90vw; /* Occupy the 90% of the screen width */
  /* max-width: 90vw; */
  /* height: 100vh; */
  background-color: #3b3e40;
}

.CustomModal_trailer {
  height: 300px;
}

.CustomModal_title {
  color: #3b3e40;
}
